<a href="https://colab.research.google.com/github/declau/Command-line-application/blob/master/Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
idade = 30
idade2 = 29
idade3 = 31

print(idade)
print(idade2)
print(idade3)

30
29
31

In [9]:
idades = [30, 29,31]

for idade in idades:
  print(idade)
print(idades[1])

idades.append(39)
len(idades)
print(idades[3])
idades

30
29
31
29
39

[30, 29, 31, 39]